{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <!-- Load plotly.js into the DOM -->
  <script src="{% static 'plotly-2.20.0.min.js' %}" charset="utf-8"></script>
</head>
<body>
    <div class="sidebar">
      <br>
      <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Icon">
      <br>
      <br>
      <div class="home">
      <a href="/">Home</a>
      </div>
      <a href="/site_details">Site Details</a>
      <a href="/register_pump">Pump Registration</a>
      <a href="/logout">Log Out</a>
       <!-- <footer><img src="solarPump.png"> </footer> -->
        </div>
            <div class="row" >
                <div class="nav">
                  <table class="navbartable">
                    <tr>
                      <th></th>
                      <th></th>                    
                      <th><h1>Solar Water Pump Remote Monitoring System</h1></th>
                      <th></th>
                      <th>Login By :  <br>{{request.user.username}} <br> {{request.user.last_login}} </th>
                  </tr>
                </table>
                </div>
            </div>
            <div class="row">
                <div class="testingLeftHalf">  
                  <br>
                  <br>
                  <br>
                   <br>
                  <table>
                    <tr>
                      <th><label class="label">State :</label><select class="dashboardInput" name="dashboardInput" id="state">
                        <option selected disabled >select option</option>
                       {% for i in data %}
                        <option value="{{i.state}}">{{i.state}}</option>
                        {% endfor %}
                      </select></th>
                    </tr>
                    <tr>
                      <th><label class="label">District :</label><select class="dashboardInput" name="dashboardInput" id="district">
                        <option selected disabled >select option</option>
                        {% for i in data %}
                        <option value="{{i.district}}">{{i.district}}</option>
                        {% endfor %}
                      </select></th>
                    </tr>
                    
                    <tr>
                      <th><label class="label">Beneficiary Name :</label><select class="dashboardInput" name="dashboardInput" id="benificery_name">
                        <option selected disabled >select option</option>
                        {% for i in data %}
                        <option value="{{i.benificery_name}}">{{i.benificery_name}}</option>
                        {% endfor %}
                      </select></th>
                    </tr>
                    <tr>
                      <th> <Button class="search-btn" id="search-btn" onclick="searchWithFilters()">Search</Button>    </th>
                    </tr>
                   
                  <!-- <tr><th>Logged By:- Shweta</th></tr>    
                  <tr><th>21/07/2023</br>17:10 PM</th></tr> -->
                  </table>    
                                               
                  </div>
                  <div class="testingRightHalf">
                    <table>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
                      </th>
                      </tr>
                    </table>
                    <table>
                      <tr>
                        <th></th>
                        <th></th>
                        <th><button class="valuebutton" id="myButton1">Total No. of Pumps: <span id="counter1">0</span><br/></button></th>
                        <th><button class="valuebutton" id="myButton2">Pumps Running: <span id="counter2">0</span><br/></button></th>
                        <th><button class="valuebutton" id="myButton3">Pumps Not Running: <span id="counter3">0</span><br/></button></th>
                      </tr> 
                    </table>
                    <table class="pumplist">
                        <div class="pumplist"></div>
                        <tr class="titleRow">
                            <td>RMS ID</td>
                            <td>Beneficiary/SI</td>
                            <td>Location</td>
                            <td>Capacity &</br>Dynamic Head</td>
                            <td colspan="4">Data Status</td>
                        </tr>
                        {% for i in data %}
                        <tr class="tableData">
                          <td>{{i.rms}}</td>
                          <td>{{i.benificery_name}}</td>
                          <td>{{i.location}}</td>
                          <td>{{i.capacity}} &</br>Dynamic Head(NA)</td>
                          <td colspan="2"><a href="/dashboard/{{i.rms}}/">DashBoard</a></td>
                          <td colspan="2"><a href="/history_table/{{i.rms}}/">History</a></td></td>
                      </tr>
                      {% endfor %}
                    </div>
                    </table>
                </div>
            </div>          
            {% comment %} <script src="{% static 'home.js' %}"></script> {% endcomment %}
          </table>
     </form>
    </section>
    </div>
    <script>
      window.addEventListener("load", () => {

      })
      var data = [
        {
            domain: { x: [0, 1], y: [0, 1.5] },
            value: {{data.count}},
            title: { text: "Number of Solar Pumps",font: { size: 18,  family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif", bold: true, color: "green" } },
            type: "indicator",
            mode: "gauge",
            gauge: {
             
          }
        },
        {
            domain: { x: [0.12, 0.88], y: [0.04, 0.80] },
            value: {{running|safe}},
            //title: { text: "Degree" },
            type: "indicator",
            mode: "gauge+title",
            gauge: {
              ///bgcolor: "lightgray",  // Set the background color of the gauge
            bar: { color: "blue" } // Set the color of the gauge bar
          }
        },
        {
            domain: { x: [0.21, 0.8], y: [0.1, 0.62] },
            value: {{not_running|safe}},
            //title: { text: "km/h" },
            type: "indicator",
            mode: "gauge+title",
            gauge: {
              //axis: { range: [0, 5000], tickvals: [] },
               bar: { color: "black" }
          }
        }
      ];
      var layout = {
        width: 500,
        height: 250,
        margin: { t: 0, b: 0 },
        grid: { rows: 1, columns: 1, pattern: 'independent' },
       annotations: [
          {
            x: -0.05, // Adjust x position to move the data horizontally
            y: 0, // Adjust y position to move the data vertically
            text: "Total",
            showarrow: false,
            font: { size: 14, color: "green", family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif", bold: true }
          },
          {
            x: 0.08, // Adjust x position to move the data horizontally
            y: 0, // Adjust y position to move the data vertically
            text: "Runing",
            showarrow: false,
            font: { size: 14, color: "blue", family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif", bold: true  }
          },
         {
            x: 0.25, // Adjust x position to move the data horizontally
            y: 0, // Adjust y position to move the data vertically
            text: "Not Runing",
            showarrow: false,
            font: { size: 14, color: "black", family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif", bold: true  }
          },
         {
            x: 0.5, // Adjust x position to move the data horizontally
            y: 0.25, // Adjust y position to move the data vertically
            text: "",
            showarrow: false,
            font: { size: 18, color: "black", family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif", bold: true }
          }
        ]
      };
      Plotly.newPlot('myDiv', data, layout);
       
      var button = document.getElementById('myButton');
      document.getElementById('counter1').textContent = {{data.count}};
      document.getElementById('counter2').textContent = 1500;
      document.getElementById('counter3').textContent = 2500;
    </script>
    <script>
      function searchWithFilters() {
        const state = document.getElementById('state').value;
        const district = document.getElementById('district').value;
        const beneficiaryName = document.getElementById('benificery_name').value;
        
        const searchURL = `/home/search/${state}/${district}/${beneficiaryName}`;
        window.location.href = searchURL;
      }
      </script>
</body>
</html>