<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pump Registration</title>
  <link rel="stylesheet" href="styles.css">
  <!-- Load plotly.js into the DOM -->
  <script src="plotly-2.20.0.min.js" charset="utf-8"></script>
</head>
<body>
    <div class="sidebar">
      <br>
      <img class="logo" src="./images/logo.jpg"  alt="Icon">
      <br>
      <a href="#">Home</a>
      <a href="#">Site Details</a>
      <div class="registrationSideBar">
      <a href="#">Registration</a>
      </div>
      <a href="#">Log Out</a>
       <!-- <footer><img src="solarPump.png"> </footer> -->
        </div>
            <div class="row" >
                <div class="nav">
                  <table class="navbartable">
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th><h1>Solar Water Pump Remote Monitoring System</h1></th>
                      <th></th>
                      <th>Login By :  <br> Admin <br> 11/08/2023 </th>
                  </tr>
                </table>
             
                </div>
            </div>
            <div class="row">
                <div class="testingLeftHalf">  
                                           
                </div>
                <div class="registrationRightHalf">
                    <br>
                    <label class="registrationTitle">For the Registration of a Pump, fill out the following form<form action=""></form> </label>
                    <br>
                   
                    <table>                      
                     <tr>
                        <th><label>Contrator Name</label></th>
                        <th><input type="text" class="registartionInput" id="ContractorName" placeholder="Contrator Name"></th>
                        
                     </tr>
                     <tr>
                        <th><label >Beneficiary Name</label></th>
                        <th><input type="text"  class="registartionInput" id="BeneficiaryName" placeholder="Beneficiary Name"></th>
                     </tr>
                     <tr>
                        <th><label >Site Address</label></th>
                        <th><input type="text" class="registartionInput" id="SiteAddress" placeholder="Site Address"></th>
                     </tr>
                     <tr>
                        <th><label >District</label></th>
                        <th><select class="registartionInput" name="registartionInput" id="District" placeholder="District">
                        </select></th>
                     </tr>
                     <tr>
                        <th><label >State</label></th>
                        <th><select class="registartionInput" name="registartionInput" id="State" placeholder="State">
                        </select></th>
                     </tr>
                     <tr>
                        <th><label >Date of Installation</label></th>
                        <th><input type="date" class="registartionInput" id="DateofInstallation" placeholder="Date of Installation"></th>
                     </tr>
                     <tr>
                        <th><label >Capacity</label></th>
                        <th><input type="text" class="registartionInput" id="Capacity" placeholder="Capacity"></th>
                     </tr>
                     <tr>
                        <th><label >Make</label></th>
                        <th><input type="text" class="registartionInput" id="Make" placeholder="Make"></th>
                     </tr>
                     <tr>
                        <th><label >Motor/Pump Model No.</label></th>
                        <th><input type="text" class="registartionInput" id="PumpModelNo" placeholder="Motor/Pump Model No." ></th>
                     </tr>
                     <tr>
                        <th><label >Controller Model No.</label></th>
                        <th><input type="text" class="registartionInput" id="ControllerModelNo" placeholder="Controller Model No."></th>
                     </tr>
                     <tr>
                        <th><label >Motor/Pump Serial No.</label></th>
                        <th><input type="text" class="registartionInput" id="PumpSerialNo" placeholder="Motor/Pump Serial No."></th>
                     </tr>
                     <tr>
                        <th><label >Controller Serial No.</label></th>
                        <th><input type="text" class="registartionInput" id="ControllerSerialNo" placeholder="Controller Serial No."></th>
                     </tr>
                     <tr>
                        <th><label >RMS ID</label></th>
                        <th><input type="text" class="registartionInput" id="RMSID" placeholder="RMS ID"></th>
                     </tr>
                     <tr>
                        <th><label >Modem ID</label></th>
                        <th><input type="test" class="registartionInput" id="ModemID" placeholder="Modem ID"></th>
                     </tr>
                     <tr>
                        <th><label >SIM ID</label></th>
                        <th><input type="text" class="registartionInput" id="SIMID" placeholder="SIM ID"></th>
                     </tr>
                     <tr>
                        <th><label>ICCID</label></th>
                        <th><input type="text" class="registartionInput" id="ICCID" placeholder="ICCID"></th>
                     </tr>  
                     <tr>
                        <th></th>
                        <th> <button class="submit">Submit</button></th>
                     </tr>                      
                  </table> 
                 
                </div>
            </div>          
          </table>
     </form>
    </section>
    </div>
</body>
</html>