{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiteDetails</title>
  {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <!-- Load plotly.js into the DOM -->
  {% comment %} <script src="plotly-2.20.0.min.js" charset="utf-8"></script> {% endcomment %}
  <script src="{% static 'plotly-2.20.0.min.js' %}" charset="utf-8"></script>
</head>
<body>
    <div class="sidebar">
      <br>
        {% comment %} <img class="logo" src="./images/logo.jpg"  alt="Icon"> {% endcomment %}
      <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Icon">
      <br>
      <a href="/">Home</a>
      <div class="siteDetails">
      <a href="/site_details">Site Details</a>
      </div>
      <a href="/register_pump">Pump Registration</a>
      <a href="/logout">Log Out</a>
    </div>
            <div class="row" >
                <div class="nav">
                  <table class="navbartable">
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th><h1>Solar Water Pump Remote Monitoring System</h1></th>
                      <th></th>
                      <th>Login By :  <br>{{request.user.username}} <br> {{request.user.last_login}}  </th>
                  </tr>
                </table>
                </div>
            </div>
            <div class="row">
                <div class="testingLeftHalf">  
                                                    
                  </div>
                  <div class="testingRightHalf">
                   <br>
                   <br>
                   <table>
                    <tr>
                      <th><label class="label">Pump Registration click here</label></th>
                      <th><a href="/register_pump"><button class="registration">Registration</button></a></th>  
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                     
                                     
                    </tr>
                    </table>
                    <table>
                    <tr>
                    
                      <th> <label class="label">RMS ID</label></th>
                      <th><select class="dashboardInput" name="dashboardInput" id="dashboardInput">
                        <option selected disabled >select option</option>
                        {% for i in data2 %}
                        <option value="{{i.rms}}">{{i.rms}}</option>
                        {% endfor %}
                      </select></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <th> <label class="label">Geo Tagging Coordinates</label></th>
                      <th>Latitude</th>
                      <th><input class="dashboardInput" id="lat" value="{{data.latitude}}"></th> 
                      <th>Logitude</th>
                      <th><input class="dashboardInput" id="lng"value="{{data.logitude}}" > </label></th> 
                    </table>
                    <table>                 
                    </tr>
                    <th>Contractor Name </th><th><input class="dashboardInput" id="lat" value = "{{data.contractor_name}}"></th>
                    <th>Site Address </th><th><input class="dashboardInput" id="lat" value="{{data.location}}"></th>
                    <th>Date of Installation </th><th><input class="dashboardInput" id="lat" value="{{data.installation_date}}"></th>
                   </table>
                  <table class="siteDetailsTable">
                    <tr>
                        <th></th>
                        <th></th>
                      
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>{{data.capacity}} Hp</td>

                      
                    </tr>
                    <tr>
                      <td>Make</td>
                      <td>{{data.make}}</td>
                      
                    </tr>
                    <tr>
                      <td>Motor/Pump Model No.</td>
                      <td>{{data.pump_model_number}}</td>
                      
                    </tr>
                    <tr>
                      <td>Controller Model No.</td>
                      <td>{{data.controller_model_number}}</td>
                     
                    </tr>
                    <tr>
                      <td>Motor/Pump Serial No.</td>
                      <td>{{data.pump_serial_numbers}}</td>
                     
                    </tr>
                    <tr>
                      <td>Controller Serial No.</td>
                      <td>{{data.controller_serial_numbers}}</td>
                     
                    </tr>
                    <tr>
                      <td>RMS ID</td>
                      <td>{{data.rms}}</td>
                     
                    </tr>
                    <tr>
                      <td>Modem ID</td>
                      <td>{{data.modem_id}}</td>
                     
                    </tr>
                    <tr>
                      <td>SIM ID</td>
                      <td>{{data.sim_id}}</td>
                     
                    </tr>
                    <tr>
                      <td>ICCID</td>
                      <td>{{data.iccid}}</td>
                     
                    </tr>

                  </div>             
                </div>  
    </div>
</body>
</html>