{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiteDetails</title>
  {% comment %} <link rel="stylesheet" href="styles.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <!-- Load plotly.js into the DOM -->
  {% comment %} <script src="plotly-2.20.0.min.js" charset="utf-8"></script> {% endcomment %}
  <script src="{% static 'plotly-2.20.0.min.js' %}" charset="utf-8"></script>
</head>
<body>
    <div class="sidebar">
      <br>
        {% comment %} <img class="logo" src="./images/logo.jpg"  alt="Icon"> {% endcomment %}
      <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Icon">
      <br>
      <a href="/">Home</a>
      <div class="siteDetails">
      <a href="#">Site Details</a>
      </div>
      <a href="#">Pump Registration</a>
      <a href="#">Log Out</a>
    </div>
            <div class="row" >
                <div class="nav">
                  <table class="navbartable">
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th><h1>Solar Water Pump Remote Monitoring System</h1></th>
                      <th></th>
                      <th>Login By :  <br>Admin <br> 04/08/2023 </th>
                  </tr>
                </table>
                </div>
            </div>
            <div class="row">
                <div class="testingLeftHalf">  
                                                    
                  </div>
                  <div class="testingRightHalf">
                   <br>
                   <br>
                   <table>
                    <tr>
                      <th><label class="label">Pump Registration click here</label></th>
                      <th><button class="registration">Registration</button></th>  
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                     
                                     
                    </tr>
                    </table>
                    <table>
                    <tr>
                    
                      <th> <label class="label">RMS ID</label></th>
                      <th><select class="dashboardInput" name="dashboardInput" id="dashboardInput"></select></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <th> <label class="label">Geo Tagging Coordinates</label></th>
                      <th>Latitude</th>
                      <th><input class="dashboardInput" id="lat"></th> 
                      <th>Logitude</th>
                      <th><input class="dashboardInput" id="lng"> </label></th> 
                    </table>
                    <table>                 
                    </tr>
                    <th>Contractor Name </th><th><input class="dashboardInput" id="lat"></th>
                    <th>Site Address </th><th><input class="dashboardInput" id="lat"></th>
                    <th>Date of Installation </th><th><input class="dashboardInput" id="lat"></th>
                   </table>
                  <table class="siteDetailsTable">
                    <tr>
                        <th></th>
                        <th></th>
                      
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>1 Hp</td>

                      
                    </tr>
                    <tr>
                      <td>Make</td>
                      <td>Sileaf</td>
                      
                    </tr>
                    <tr>
                      <td>Motor/Pump Model No.</td>
                      <td>XYZ123</td>
                      
                    </tr>
                    <tr>
                      <td>Controller Model No.</td>
                      <td>XYZ123</td>
                     
                    </tr>
                    <tr>
                      <td>Motor/Pump Serial No.</td>
                      <td>XYZ123</td>
                     
                    </tr>
                    <tr>
                      <td>Controller Serial No.</td>
                      <td>XYZ123</td>
                     
                    </tr>
                    <tr>
                      <td>RMS ID</td>
                      <td>1234</td>
                     
                    </tr>
                    <tr>
                      <td>Modem ID</td>
                      <td>XYZ123</td>
                     
                    </tr>
                    <tr>
                      <td>SIM ID</td>
                      <td>XYZ123</td>
                     
                    </tr>
                    <tr>
                      <td>ICCID</td>
                      <td>XYZ123</td>
                     
                    </tr>

                  </div>             
                </div>  
    </div>
</body>
</html>